<div class="page-title">
  <div class="row">
    <div class="col-12 col-md-6 order-md-1 order-last mb-4">
      <h3>Add Consommation</h3>
    </div>
    <div class="col-12 col-md-6 order-md-2 order-first">
      <nav aria-label="breadcrumb" class='breadcrumb-header'>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Table</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<section id="multiple-column-form">
  <div class="row match-height">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <a [routerLink]="['/Gestion/admin/consommation']">
            <button class="btn btn-danger me-1 mb-1" style="float:right">Retour</button>
          </a>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form class="form" [formGroup]="registerform" (ngSubmit)="CRUD()">
              <div class="row">
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="city-column">Vehicule</label>
                    <div class="input-group mb-3">
                      <label class="input-group-text">Select</label>
                      <select class="form-select" formControlName="vehicule" required>
                        <option *ngFor="let v of VihList" value="{{v.id}}">{{v.modele}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="city-column">Engine</label>
                    <div class="input-group mb-3">
                      <label class="input-group-text">Select</label>
                      <select class="form-select" formControlName="engine" required>
                        <option *ngFor="let e of EnList" value="{{e.id}}">{{e.engineType}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="city-column">Operting characters</label>
                    <div class="input-group mb-3">
                      <label class="input-group-text">Select</label>
                      <select class="form-select" formControlName="opertingchar" required>
                        <option *ngFor="let o of OperList" value="{{o.id}}">{{o.fuel}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="city-column">Time</label>
                    <div class="input-group mb-3">
                      <label class="input-group-text">Select</label>
                      <select class="form-select" formControlName="time" required>
                        <option *ngFor="let t of TimeList" value="{{t.id}}">{{t.yearGeneration}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-12 d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
