  <div class="page-title">
      <div class="row">
          <div class="col-12 col-md-6 order-md-1 order-last mb-4">
              <h3>Consommations</h3>
          </div>
          <div class="col-12 col-md-6 order-md-2 order-first">
              <nav aria-label="breadcrumb" class='breadcrumb-header'>
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Table</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
  <section class="section">
    <div class="card">
        <div class="card-header">
            <a [routerLink]="['add']">
              <button class="btn btn-primary me-1 mb-1" style="float:right">Ajouter</button>
            </a>
        </div>
        <div class="card-body">
            <table class="table table-border table-striped custom-table mb-0" *ngIf="ConsommationList.length>=0" datatable="ng" [dtOptions]="dtOptions" style="width:100%">
                <thead>
                    <tr style="text-transform: uppercase;">
                        <th>Modele</th>
                        <th>Serie</th>
                        <th>Speed</th>
                        <th>Consommation City</th>
                        <th>Consommation Highway</th>
                        <th>Mixed Consommation</th>
                        <th>Moyen Distance Parcours</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Consommation of ConsommationList">
                        <td>{{Consommation.modele}}</td>
                        <td>{{Consommation.serie}}</td>
                        <td>{{Consommation.speed}}</td>
                        <td>{{Consommation.taux_consomationcity}}</td>
                        <td>{{Consommation.taux_consomationhighway}}</td>
                        <td>{{Consommation.mixed_consommation}}</td>
                        <td>{{Consommation.moyen_distanceParcours}}</td>
                        <td>
                          <a routerLink="edit/{{Consommation.id}}"><img src="/assets/images/icons/editer.png" width="20px"></a>
                          <a (click)="delete(Consommation.id)"><img src="/assets/images/icons/supprimer.png" width="20px" style="margin-left: 25px;"></a>
                        </td>
                    </tr>
              
                </tbody>
            </table>
        </div>
    </div>

</section>





