<div class="page-title mb-4">
  <h3>Dashboard</h3>
</div>
<section class="section">
  <div class="row mb-2">
    <div class="col-12 col-md-3">
      <div class="card">
        <div class="card-content">
          <img class="card-img img-fluid" src="assets/images/samples/jaune.jpg" alt="Card image">
          <div class="card-img-overlay overlay-dark bg-overlay d-flex justify-content-between flex-column">
            <div class="overlay-content mt-2">
              <span class='card-title' style="text-transform: uppercase;font-size: 25px ">Vehicules</span>
              <img class="card-img" src="assets/images/icons/jam2.png"
                style="width: 45px;margin-left: 17px;margin-top: -20px;">
            </div>
            <div class="overlay-status">
              <p style="font-size: 45px;color: white">{{CVehicule}}</p>
              <a [routerLink]="['/Gestion/admin/vehicule']" class="btn btn-primary btn-sm">Check More ...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card">
        <div class="card-content">
          <img class="card-img img-fluid" src="assets/images/samples/red.jpg" alt="Card image">
          <div class="card-img-overlay overlay-dark bg-overlay d-flex justify-content-between flex-column">
            <div class="overlay-content mt-3">
              <span class='card-title' style="text-transform: uppercase;font-size: 18px ">Consommations</span>
              <img class="card-img" src="assets/images/icons/consumption1.png"
                style="width: 45px;margin-left: 2px;margin-top: -20px;">
            </div>
            <div class="overlay-status">
              <p style="font-size: 45px;color: white">{{CConsommation}}</p>
              <a [routerLink]="['/Gestion/admin/consommation']" class="btn btn-primary btn-sm">Check More ...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card">
        <div class="card-content">
          <img class="card-img img-fluid" src="assets/images/samples/bleu.jpg" alt="Card image">
          <div class="card-img-overlay overlay-dark bg-overlay d-flex justify-content-between flex-column">
            <div class="overlay-content mt-2">
              <span class='card-title' style="text-transform: uppercase;font-size: 25px ">Engines</span>
              <img class="card-img" src="assets/images/icons/car-engine1.png"
                style="width: 50px;margin-left: 45px;margin-top: -20px;">
            </div>
            <div class="overlay-status">
              <p style="font-size: 45px;color: white">{{CEngine}}</p>
              <a [routerLink]="['/Gestion/admin/engine']" class="btn btn-primary btn-sm">Check More ...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card">
        <div class="card-content">
          <img class="card-img img-fluid" src="assets/images/samples/vert1.jpg" alt="Card image">
          <div class="card-img-overlay overlay-dark bg-overlay d-flex justify-content-between flex-column">
            <div class="overlay-content mt-2">
              <span class='card-title' style="text-transform: uppercase;font-size: 19px ">Operting Char</span>
              <img class="card-img" src="assets/images/icons/fuel1.png"
                style="width: 50px;margin-left: 6px;margin-top: -10px;">
            </div>
            <div class="overlay-status">
              <p style="font-size: 45px;color: white">{{COperting}}</p>
              <a [routerLink]="['/Gestion/admin/opertingchar']" class="btn btn-primary btn-sm">Check More ...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class='card-heading p-1 pl-3'>Power Bi</h3>
        </div>
          <iframe title="car_dashbord" width="1035" height="591.25" src="https://app.powerbi.com/reportEmbed?reportId=314bc9de-694c-4b8a-9196-2f06ea76fb13&autoAuth=true&ctid=9467288a-63c7-4f68-9dcc-cb9e96153b12" frameborder="0" allowFullScreen="true"></iframe>
      </div>
    </div>
  </div>
</section>
