<div class="page-title">
  <div class="row">
    <div class="col-12 col-md-6 order-md-1 order-last mb-4">
      <h3>Add Operting Characters</h3>
    </div>
    <div class="col-12 col-md-6 order-md-2 order-first">
      <nav aria-label="breadcrumb" class='breadcrumb-header'>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Table</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<section id="multiple-column-form">
  <div class="row match-height">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <a [routerLink]="['/Gestion/admin/opertingchar']">
            <button class="btn btn-danger me-1 mb-1" style="float:right">Back</button>
          </a>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form class="form" [formGroup]="registerform" (ngSubmit)=" CRUD()">
              <input formControlName="id" hidden="hidden">
              <div class="row">
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="cruisingRange">cruising Range</label>
                    <input type="text" class="form-control" formControlName="cruisingRange" placeholder="Example: from 880 to 1040" required>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="fuelTankCapacity">fuel Tank Capacity</label>
                    <input type="number" class="form-control"
                      formControlName="fuelTankCapacity" placeholder="Example: 51"
                      required>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="fuel">fuel</label>
                    <input type="text" class="form-control" formControlName="fuel"
                      placeholder="Example: 98 Ron / Disel" required>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="emissionStandards">emission Standards</label>
                    <input type="text" class="form-control" formControlName="emissionStandards"
                      placeholder="Example: EURO V" required>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="acceleration">acceleration</label>
                    <input type="number" step="0.1" class="form-control" formControlName="acceleration" placeholder="Example: 10.1" required>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="maxSpeed">max Speed</label>
                    <input type="number" class="form-control" formControlName="maxSpeed"
                      placeholder="Example: 220" required>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="cityDrivingFuel">city Driving Fuel</label>
                    <input type="number" step="0.1" class="form-control" formControlName="cityDrivingFuel"
                        placeholder="Example: 8.7" required>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="highwayDrivingFuel">highway Driving Fuel</label>
                    <input type="number" step="0.1" class="form-control" formControlName="highwayDrivingFuel"
                       placeholder="Example: 4.3" required>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="mixedDrivingFuel">mixed Driving Fuel</label>
                    <input type="number" step="0.1" class="form-control" formControlName="mixedDrivingFuel"
                       placeholder="Example: 5.8" required>
                  </div>
                </div><div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="payload">payload</label>
                    <input type="number" class="form-control" formControlName="payload"
                       placeholder="Example: 440" required>
                  </div>
                </div>
                <div class="col-12 d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
